.main-one-container {
  width: 80vw;
  margin: auto;
}

.main-one-container-wrapper-one {
  width: 80vw;
  margin: auto;
}
.main-one-container-wrapper-two {
  display: flex;
  width: 100%;
  margin: auto;
  /* background-color: aquamarine; */
  align-items: start;
  /* isolation: isolate; */
}
.main-one-container-wrapper-left-section {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 15px;
  /* position: relative; */
  /* z-index: -1; */
}
.main-one-container-wrapper-right-section {
  /* display: none; */
  width: 30%;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  position: sticky;
  top: 95px;
  height: 850px;
  border-radius: 30px;
  flex-direction: column;
  margin: 20px;
  z-index: -1;
}
.Search-main {
  margin-bottom: 30px;
  text-align: start;
  /* background-color: aquamarine; */
  width: 70%;
  height: fit-content;
  padding: 15px 10px;
}
.link {
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(232, 160, 250);
  font-size: 19px;
}
.link-home {
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(232, 160, 250);
  font-size: 19px;
  margin-left: 30px;
}
.pokeinfoloader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pokeinfoloader-img {
  width: 200px;
  margin-top: 100px;
  border-radius: 9999px;
  border: 2px solid black;
}
.pokeinfoloader-text {
  margin-top: 50px;
}
@media screen and (min-width: 1100px) {
  .overlay {
    display: none;
    /* visibility: hidden; */
  }
  .overlay-two {
    display: none;
  }
  .close {
    display: none;
  }
}
/* inside */

@media screen and (max-width: 1100px) {
  .main-one-container {
    width: 100vw;
  }

  .main-one-container-wrapper-one {
    width: 100vw;
  }

  .main-one-container-wrapper-two {
    display: flex;
    width: 100vw;
    margin: auto;

    align-items: start;
  }
  .main-one-container-wrapper-left-section {
    width: 100%;
    padding: 0 30px;
  }
  .Search-main {
    margin-bottom: 80px;
    text-align: center;
    /* background-color: aquamarine; */
    width: 100%;
  }
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: turquoise;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }
  .overlay-two {
    display: none;
  }
  .overlay-close-bt {
    right: 10px;
    top: 10px;
    position: absolute;
    font-size: 40px;
    cursor: pointer;
  }
  .close {
    display: block;
  }
  .main-one-container-wrapper-right-section {
    display: none;
  }
}
